<% if(success && success.length) { %>
    <h1 class="flash-message-success"><%= success %></h1> 
<% } %> 

<% if(error && error.length) { %>
    <h1 class="flash-message-error"><%= error %></h1> 
<% } %> 