<fieldset class="starability-checkmark">
    <legend>Rating:</legend>
    <input type="radio" id="no-rate-checkmark" class="input-no-rate" name="review[rating]" value="0" checked="" aria-label="No rating.">

    <input type="radio" id="checkmark-rate1" name="review[rating]" value="1">
    <label for="checkmark-rate1" title="Terrible">1 star</label>

    <input type="radio" id="checkmark-rate2" name="review[rating]" value="2">
    <label for="checkmark-rate2" title="Not good">2 stars</label>

    <input type="radio" id="checkmark-rate3" name="review[rating]" value="3">
    <label for="checkmark-rate3" title="Average">3 stars</label>

    <input type="radio" id="checkmark-rate4" name="review[rating]" value="4">
    <label for="checkmark-rate4" title="Very good">4 stars</label>

    <input type="radio" id="checkmark-rate5" name="review[rating]" value="5">
    <label for="checkmark-rate5" title="Amazing">5 stars</label>

    <span class="starability-focus-ring"></span>
</fieldset>