<!DOCTYPE html>
<html>
    <head>
        <title>Show Post</title>
        <link href="/stylesheets/open-sans.css" rel="stylesheet">
        <script src='/javascripts/mapbox-gl.min.js'></script>
        <script src="/jquery/jquery-3.6.0.min.js"></script>
        <script src='/javascripts/font-awesome-all.min.css'></script>
        <link rel='stylesheet' href='/stylesheets/font-awesome-all.min.css' />
        <link rel="stylesheet" href="/stylesheets/starability/starability-checkmark.css" />
        <link rel='stylesheet' href='/stylesheets/mapbox-gl.min.css' />
        <link rel="stylesheet" href="/stylesheets/post-show.css" />
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <% include ../partials/navbar.ejs %> 
        <% include ../partials/flash-messages.ejs %> 
        <%- body -%>
    </body>
</html>