<% layout("layouts/boilerplate.ejs"); -%>

<h1>Forgot Password</h1>

<form action="/forgot-password?_method=PUT" method="POST">
    <div>
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" placeholder="E-mail..." autofocus />
    </div>
    <div>
        <input type="submit" value="Reset Password" />
    </div>
</form>