<% layout("layouts/boilerplate.ejs"); -%>

<h1>Reset Password</h1>

<form action="/reset-password/<%= token %>?_method=PUT" method="POST">
    <div>
        <label for="new-password">New Password</label>
        <input type="password" id="new-password" name="newPassword" placeholder="New Password..." autofocus />
    </div>
    <div>
        <label for="confirm-password">Confirm Password</label>
        <input type="password" id="confirm-password" name="confirmPassword" placeholder="Confirm Password" />
    </div>
    <div>
        <input type="submit" value="Update Password" />
    </div>
</form>